/* line 7, ../sass/app.scss */
.fs-8 {
  font-size: 0.5rem;
}

/* line 7, ../sass/app.scss */
.fs-10 {
  font-size: 0.625rem;
}

/* line 7, ../sass/app.scss */
.fs-12 {
  font-size: 0.75rem;
}

/* line 7, ../sass/app.scss */
.fs-14 {
  font-size: 0.875rem;
}

/* line 7, ../sass/app.scss */
.fs-15 {
  font-size: 0.9375rem;
}

/* line 7, ../sass/app.scss */
.fs-18 {
  font-size: 1.125rem;
}

/* line 7, ../sass/app.scss */
.fs-20 {
  font-size: 1.25rem;
}

/* line 7, ../sass/app.scss */
.fs-22 {
  font-size: 1.375rem;
}

/* line 7, ../sass/app.scss */
.fs-24 {
  font-size: 1.5rem;
}

/* line 7, ../sass/app.scss */
.fs-26 {
  font-size: 1.625rem;
}

/* line 7, ../sass/app.scss */
.fs-28 {
  font-size: 1.75rem;
}

/* line 7, ../sass/app.scss */
.fs-30 {
  font-size: 1.875rem;
}

/* line 7, ../sass/app.scss */
.fs-36 {
  font-size: 2.25rem;
}

/* line 19, ../sass/app.scss */
.o-10 {
  opacity: 0.1;
}

/* line 19, ../sass/app.scss */
.o-20 {
  opacity: 0.2;
}

/* line 19, ../sass/app.scss */
.o-30 {
  opacity: 0.3;
}

/* line 19, ../sass/app.scss */
.o-40 {
  opacity: 0.4;
}

/* line 19, ../sass/app.scss */
.o-50 {
  opacity: 0.5;
}

/* line 19, ../sass/app.scss */
.o-60 {
  opacity: 0.6;
}

/* line 19, ../sass/app.scss */
.o-70 {
  opacity: 0.7;
}

/* line 19, ../sass/app.scss */
.o-80 {
  opacity: 0.8;
}

/* line 19, ../sass/app.scss */
.o-90 {
  opacity: 0.9;
}

/* line 51, ../sass/app.scss */
.bgc-orange {
  background-color: #FD8204;
}

/* line 54, ../sass/app.scss */
.fc-orange {
  color: #FD8204;
}

/* line 51, ../sass/app.scss */
.bgc-light-orange {
  background-color: #FFB718;
}

/* line 54, ../sass/app.scss */
.fc-light-orange {
  color: #FFB718;
}

/* line 51, ../sass/app.scss */
.bgc-red {
  background-color: #88213C;
}

/* line 54, ../sass/app.scss */
.fc-red {
  color: #88213C;
}

/* line 51, ../sass/app.scss */
.bgc-lighter-red {
  background-color: #CC073C;
}

/* line 54, ../sass/app.scss */
.fc-lighter-red {
  color: #CC073C;
}

/* line 51, ../sass/app.scss */
.bgc-teal {
  background-color: #2A6875;
}

/* line 54, ../sass/app.scss */
.fc-teal {
  color: #2A6875;
}

/* line 51, ../sass/app.scss */
.bgc-army-green {
  background-color: #73752A;
}

/* line 54, ../sass/app.scss */
.fc-army-green {
  color: #73752A;
}

/* line 51, ../sass/app.scss */
.bgc-green {
  background-color: #45C87A;
}

/* line 54, ../sass/app.scss */
.fc-green {
  color: #45C87A;
}

/* line 51, ../sass/app.scss */
.bgc-white {
  background-color: #ffffff;
}

/* line 54, ../sass/app.scss */
.fc-white {
  color: #ffffff;
}

/* line 51, ../sass/app.scss */
.bgc-dark-teal {
  background-color: #6E7F8D;
}

/* line 54, ../sass/app.scss */
.fc-dark-teal {
  color: #6E7F8D;
}

/* line 51, ../sass/app.scss */
.bgc-another-gray {
  background-color: #A9A8AB;
}

/* line 54, ../sass/app.scss */
.fc-another-gray {
  color: #A9A8AB;
}

/* line 51, ../sass/app.scss */
.bgc-gray {
  background-color: #727272;
}

/* line 54, ../sass/app.scss */
.fc-gray {
  color: #727272;
}

/* line 51, ../sass/app.scss */
.bgc-xgray {
  background-color: #C5C5C5;
}

/* line 54, ../sass/app.scss */
.fc-xgray {
  color: #C5C5C5;
}

/* line 51, ../sass/app.scss */
.bgc-light-gray {
  background-color: #E9E9E9;
}

/* line 54, ../sass/app.scss */
.fc-light-gray {
  color: #E9E9E9;
}

/* line 51, ../sass/app.scss */
.bgc-lighter-gray {
  background-color: #EFF0F4;
}

/* line 54, ../sass/app.scss */
.fc-lighter-gray {
  color: #EFF0F4;
}

/* line 51, ../sass/app.scss */
.bgc-blue {
  background-color: #0082CC;
}

/* line 54, ../sass/app.scss */
.fc-blue {
  color: #0082CC;
}

/* line 51, ../sass/app.scss */
.bgc-xblue {
  background-color: #21A0DB;
}

/* line 54, ../sass/app.scss */
.fc-xblue {
  color: #21A0DB;
}

/* line 51, ../sass/app.scss */
.bgc-light-blue {
  background-color: #38B5E6;
}

/* line 54, ../sass/app.scss */
.fc-light-blue {
  color: #38B5E6;
}

/* line 51, ../sass/app.scss */
.bgc-lighter-blue {
  background-color: #97D0E6;
}

/* line 54, ../sass/app.scss */
.fc-lighter-blue {
  color: #97D0E6;
}

/* line 51, ../sass/app.scss */
.bgc-xlighter-blue {
  background-color: #F1F9FC;
}

/* line 54, ../sass/app.scss */
.fc-xlighter-blue {
  color: #F1F9FC;
}

/* line 63, ../sass/app.scss */
.z-index--5 {
  z-index: -5;
}

/* line 63, ../sass/app.scss */
.z-index--4 {
  z-index: -4;
}

/* line 63, ../sass/app.scss */
.z-index--3 {
  z-index: -3;
}

/* line 63, ../sass/app.scss */
.z-index--2 {
  z-index: -2;
}

/* line 63, ../sass/app.scss */
.z-index--1 {
  z-index: -1;
}

/* line 63, ../sass/app.scss */
.z-index-0 {
  z-index: 0;
}

/* line 63, ../sass/app.scss */
.z-index-1 {
  z-index: 1;
}

/* line 63, ../sass/app.scss */
.z-index-2 {
  z-index: 2;
}

/* line 63, ../sass/app.scss */
.z-index-3 {
  z-index: 3;
}

/* line 63, ../sass/app.scss */
.z-index-4 {
  z-index: 4;
}

/* line 63, ../sass/app.scss */
.z-index-5 {
  z-index: 5;
}

/* line 68, ../sass/app.scss */
html, body {
  margin: 0;
}

/* line 72, ../sass/app.scss */
.overflow-y {
  overflow-y: auto;
}

/* line 76, ../sass/app.scss */
.splash-page {
  background: url("../images/background-splash.jpg") center center;
  background-size: cover;
}

/* line 81, ../sass/app.scss */
.br-sm {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 85, ../sass/app.scss */
.br-lg {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* line 89, ../sass/app.scss */
.bg-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk3ZDBlNiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(151, 208, 230, 0.1)), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(rgba(151, 208, 230, 0.1), #ffffff);
  background-image: -webkit-linear-gradient(rgba(151, 208, 230, 0.1), #ffffff);
  background-image: linear-gradient(rgba(151, 208, 230, 0.1), #ffffff);
}

/* line 93, ../sass/app.scss */
.app-page.blur-filter {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* line 97, ../sass/app.scss */
.form-control {
  padding: .375rem 0;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #0082CC;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #EFF0F4;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 61, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.form-control:-moz-placeholder {
  color: #C5C5C5;
}
/* line 64, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.form-control::-moz-placeholder {
  color: #C5C5C5;
}
/* line 67, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.form-control:-ms-input-placeholder {
  color: #C5C5C5;
}
/* line 56, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.form-control::-webkit-input-placeholder {
  color: #C5C5C5;
}
/* line 112, ../sass/app.scss */
.form-control:focus {
  color: #0082CC;
  background-color: transparent;
  border-bottom: 1px solid #0082CC;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 121, ../sass/app.scss */
.mobile-verification input {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: rgba(151, 208, 230, 0.07);
  border: 2px solid rgba(151, 208, 230, 0.5);
  color: #0082CC;
}
/* line 61, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.mobile-verification input:-moz-placeholder {
  color: #97D0E6;
}
/* line 64, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.mobile-verification input::-moz-placeholder {
  color: #97D0E6;
}
/* line 67, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.mobile-verification input:-ms-input-placeholder {
  color: #97D0E6;
}
/* line 56, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.mobile-verification input::-webkit-input-placeholder {
  color: #97D0E6;
}

/* line 135, ../sass/app.scss */
.input-group-append {
  border-bottom: 1px solid #EFF0F4;
}

/* line 139, ../sass/app.scss */
.btn-link:hover {
  text-decoration: none;
}

/* line 143, ../sass/app.scss */
.btn-gradient-blue {
  border: none;
  color: #ffffff !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(0, 130, 204, 0.39) 0 0 20px;
  -webkit-box-shadow: rgba(0, 130, 204, 0.39) 0 0 20px;
  box-shadow: rgba(0, 130, 204, 0.39) 0 0 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk3ZDBlNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwODJjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #97d0e6), color-stop(100%, #0082cc));
  background-image: -moz-linear-gradient(#97d0e6, #0082cc);
  background-image: -webkit-linear-gradient(#97d0e6, #0082cc);
  background-image: linear-gradient(#97d0e6, #0082cc);
}
/* line 149, ../sass/app.scss */
.btn-gradient-blue:not(:disabled):not(.disabled):active {
  background-color: #0082CC;
}

/* line 154, ../sass/app.scss */
.btn-gradient-red {
  border: none;
  color: #ffffff !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(136, 33, 60, 0.39) 0 0 20px;
  -webkit-box-shadow: rgba(136, 33, 60, 0.39) 0 0 20px;
  box-shadow: rgba(136, 33, 60, 0.39) 0 0 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjMDczYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg4MjEzYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc073c), color-stop(100%, #88213c));
  background-image: -moz-linear-gradient(#cc073c, #88213c);
  background-image: -webkit-linear-gradient(#cc073c, #88213c);
  background-image: linear-gradient(#cc073c, #88213c);
}
/* line 160, ../sass/app.scss */
.btn-gradient-red:not(:disabled):not(.disabled):active {
  background-color: #88213C;
}

/* line 165, ../sass/app.scss */
.btn-gradient-orange {
  border: none;
  color: #ffffff !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(253, 130, 4, 0.39) 0 0 20px;
  -webkit-box-shadow: rgba(253, 130, 4, 0.39) 0 0 20px;
  box-shadow: rgba(253, 130, 4, 0.39) 0 0 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjcxOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkODIwNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb718), color-stop(100%, #fd8204));
  background-image: -moz-linear-gradient(#ffb718, #fd8204);
  background-image: -webkit-linear-gradient(#ffb718, #fd8204);
  background-image: linear-gradient(#ffb718, #fd8204);
}
/* line 171, ../sass/app.scss */
.btn-gradient-orange:not(:disabled):not(.disabled):active {
  background-color: #FD8204;
}

/* line 176, ../sass/app.scss */
.btn-gradient-orange-outline {
  border: none;
  color: #FD8204 !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(253, 130, 4, 0.39) 0 0 20px;
  -webkit-box-shadow: rgba(253, 130, 4, 0.39) 0 0 20px;
  box-shadow: rgba(253, 130, 4, 0.39) 0 0 20px;
  background-color: transparent;
}
/* line 182, ../sass/app.scss */
.btn-gradient-orange-outline:not(:disabled):not(.disabled):active {
  background-color: transparent;
}
/* line 185, ../sass/app.scss */
.btn-gradient-orange-outline:hover {
  background-color: transparent;
}

/* line 190, ../sass/app.scss */
.btn-gradient-blue-outline {
  border: none;
  color: #0082CC !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(0, 130, 204, 0.39) 0 0 20px;
  -webkit-box-shadow: rgba(0, 130, 204, 0.39) 0 0 20px;
  box-shadow: rgba(0, 130, 204, 0.39) 0 0 20px;
  background-color: transparent;
}
/* line 196, ../sass/app.scss */
.btn-gradient-blue-outline:not(:disabled):not(.disabled):active {
  background-color: transparent;
}
/* line 199, ../sass/app.scss */
.btn-gradient-blue-outline:hover {
  background-color: transparent;
}

/* line 205, ../sass/app.scss */
.section-languages button {
  border: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e9e9e9));
  background-image: -moz-linear-gradient(#ffffff, #e9e9e9);
  background-image: -webkit-linear-gradient(#ffffff, #e9e9e9);
  background-image: linear-gradient(#ffffff, #e9e9e9);
}

/* line 214, ../sass/app.scss */
.app-page header {
  -moz-border-radius-bottomleft: 40px;
  -webkit-border-bottom-left-radius: 40px;
  border-bottom-left-radius: 40px;
  -moz-border-radius-bottomright: 40px;
  -webkit-border-bottom-right-radius: 40px;
  border-bottom-right-radius: 40px;
  -moz-box-shadow: #97D0E6 0 0 20px;
  -webkit-box-shadow: #97D0E6 0 0 20px;
  box-shadow: #97D0E6 0 0 20px;
}

/* line 221, ../sass/app.scss */
.section-steps .title {
  position: absolute;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}
/* line 228, ../sass/app.scss */
.section-steps .active .title {
  font-weight: bold;
}
/* line 232, ../sass/app.scss */
.section-steps .image {
  object-fit: scale-down;
  width: 40px;
  height: 40px;
  border: 4px solid #97D0E6;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
/* line 238, ../sass/app.scss */
.section-steps .image img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}
/* line 242, ../sass/app.scss */
.section-steps .image img:nth-child(1) {
  display: block;
}
/* line 245, ../sass/app.scss */
.section-steps .image img:nth-child(2) {
  display: none;
}
/* line 248, ../sass/app.scss */
.section-steps .image img:nth-child(3) {
  display: none;
}
/* line 254, ../sass/app.scss */
.section-steps .active .image {
  border: 4px solid #0082CC;
}
/* line 257, ../sass/app.scss */
.section-steps .active .image img:nth-child(1) {
  display: none;
}
/* line 260, ../sass/app.scss */
.section-steps .active .image img:nth-child(2) {
  display: block;
}
/* line 263, ../sass/app.scss */
.section-steps .active .image img:nth-child(3) {
  display: none;
}
/* line 269, ../sass/app.scss */
.section-steps .active.done .image {
  background-color: #0082CC;
}
/* line 272, ../sass/app.scss */
.section-steps .active.done .image img:nth-child(1) {
  display: none;
}
/* line 275, ../sass/app.scss */
.section-steps .active.done .image img:nth-child(2) {
  display: none;
}
/* line 278, ../sass/app.scss */
.section-steps .active.done .image img:nth-child(3) {
  display: block;
}
/* line 284, ../sass/app.scss */
.section-steps > div:not(:last-child):after {
  flex-grow: 1;
  display: block;
  content: '';
  border-top: 4px solid #97D0E6;
  height: 4px;
}
/* line 291, ../sass/app.scss */
.section-steps > div:not(:last-child).active:after {
  border-top: 4px solid #0082CC;
}

/* line 297, ../sass/app.scss */
.job-steps .title {
  position: absolute;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
/* line 304, ../sass/app.scss */
.job-steps .active .title {
  font-weight: bold;
}
/* line 308, ../sass/app.scss */
.job-steps .image {
  object-fit: scale-down;
  width: 50px;
  height: 50px;
  border: 4px solid #A9A8AB;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
/* line 314, ../sass/app.scss */
.job-steps .image img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}
/* line 318, ../sass/app.scss */
.job-steps .image img:nth-child(1) {
  display: block;
}
/* line 321, ../sass/app.scss */
.job-steps .image img:nth-child(2) {
  display: none;
}
/* line 324, ../sass/app.scss */
.job-steps .image img:nth-child(3) {
  display: none;
}
/* line 330, ../sass/app.scss */
.job-steps .active .image {
  border: 4px solid #319E5D;
  background-color: #319E5D;
}
/* line 334, ../sass/app.scss */
.job-steps .active .image img:nth-child(1) {
  display: none;
}
/* line 337, ../sass/app.scss */
.job-steps .active .image img:nth-child(2) {
  display: block;
}
/* line 340, ../sass/app.scss */
.job-steps .active .image img:nth-child(3) {
  display: none;
}
/* line 346, ../sass/app.scss */
.job-steps > div:not(:last-child):after {
  flex-grow: 1;
  display: block;
  content: '';
  border-top: 4px solid #A9A8AB;
  height: 4px;
}
/* line 353, ../sass/app.scss */
.job-steps > div:not(:last-child).active:after {
  border-top: 4px solid #319E5D;
}

/* line 358, ../sass/app.scss */
.my-avatar {
  width: 80px;
  height: 80px;
  border: 3px solid white;
  background-color: #0082CC;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  overflow: hidden;
}
/* line 365, ../sass/app.scss */
.my-avatar img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* line 372, ../sass/app.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}
/* line 378, ../sass/app.scss */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
/* line 389, ../sass/app.scss */
.switch .slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
/* line 401, ../sass/app.scss */
.switch .slider.round {
  border-radius: 28px;
}
/* line 403, ../sass/app.scss */
.switch .slider.round:before {
  border-radius: 50%;
}
/* line 410, ../sass/app.scss */
.switch input:checked + .slider {
  background-color: #45C87A;
}
/* line 414, ../sass/app.scss */
.switch input:focus + .slider {
  box-shadow: 0 0 1px #45C87A;
}
/* line 418, ../sass/app.scss */
.switch input:checked + .slider:before {
  -moz-transform: translateX(28px);
  -ms-transform: translateX(28px);
  -webkit-transform: translateX(28px);
  transform: translateX(28px);
}

/* line 425, ../sass/app.scss */
.jobs .sticky-top {
  top: -1.5rem;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZmFmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6fafd), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(#f6fafd, rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(#f6fafd, rgba(0, 0, 0, 0));
  background-image: linear-gradient(#f6fafd, rgba(0, 0, 0, 0));
}

/* line 431, ../sass/app.scss */
.job {
  overflow: hidden;
  -moz-box-shadow: rgba(151, 208, 230, 0.55) 0 0 20px;
  -webkit-box-shadow: rgba(151, 208, 230, 0.55) 0 0 20px;
  box-shadow: rgba(151, 208, 230, 0.55) 0 0 20px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 435, ../sass/app.scss */
.job .hl {
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(151, 208, 230, 0.4);
}
/* line 441, ../sass/app.scss */
.job .separator {
  display: block;
  width: 1px;
  height: 20px;
  background-color: rgba(151, 208, 230, 0.5);
}
/* line 447, ../sass/app.scss */
.job .description {
  border-top: 1px solid rgba(151, 208, 230, 0.2);
  background-color: rgba(151, 208, 230, 0.08);
}

/* line 454, ../sass/app.scss */
.job-active .hl {
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(151, 208, 230, 0.4);
}
/* line 460, ../sass/app.scss */
.job-active .job-location {
  border-top: 1px solid rgba(151, 208, 230, 0.3);
}
/* line 463, ../sass/app.scss */
.job-active .separator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(151, 208, 230, 0.5);
}
/* line 469, ../sass/app.scss */
.job-active .description {
  border-top: 1px solid rgba(151, 208, 230, 0.2);
  border-bottom: 1px solid rgba(151, 208, 230, 0.2);
  background-color: rgba(151, 208, 230, 0.08);
}

/* line 476, ../sass/app.scss */
.my-modal, .my-modal-job {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 483, ../sass/app.scss */
.my-modal .my-modal-background, .my-modal-job .my-modal-background {
  position: inherit;
  width: 100%;
  height: 100%;
}
/* line 489, ../sass/app.scss */
.my-modal .my-modal-content, .my-modal-job .my-modal-content {
  position: inherit;
  bottom: 0;
  width: 100%;
  max-height: 640px;
  -moz-border-radius-topright: 40px;
  -webkit-border-top-right-radius: 40px;
  border-top-right-radius: 40px;
  -moz-border-radius-topleft: 40px;
  -webkit-border-top-left-radius: 40px;
  border-top-left-radius: 40px;
}
/* line 497, ../sass/app.scss */
.my-modal .my-modal-content .my-slider, .my-modal-job .my-modal-content .my-slider {
  width: 80px;
  height: 5px;
  -moz-border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  border-radius: 2.5px;
}

/* line 505, ../sass/app.scss */
.my-modal-job {
  top: auto;
}
/* line 508, ../sass/app.scss */
.my-modal-job .my-modal-content {
  -moz-border-radius-bottomright: 40px;
  -webkit-border-bottom-right-radius: 40px;
  border-bottom-right-radius: 40px;
  -moz-border-radius-bottomleft: 40px;
  -webkit-border-bottom-left-radius: 40px;
  border-bottom-left-radius: 40px;
  -moz-box-shadow: 0 0 20px #97D0E6;
  -webkit-box-shadow: 0 0 20px #97D0E6;
  box-shadow: 0 0 20px #97D0E6;
}

/* line 515, ../sass/app.scss */
.my-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 522, ../sass/app.scss */
.my-menu .my-menu-background {
  position: inherit;
  width: 100%;
  height: 100%;
}
/* line 528, ../sass/app.scss */
.my-menu .my-menu-content {
  position: inherit;
  left: 0;
  height: 100%;
  width: 60%;
  -moz-border-radius-topright: 40px;
  -webkit-border-top-right-radius: 40px;
  border-top-right-radius: 40px;
  -moz-border-radius-bottomright: 40px;
  -webkit-border-bottom-right-radius: 40px;
  border-bottom-right-radius: 40px;
  -moz-box-shadow: 0 0 20px #1c2629;
  -webkit-box-shadow: 0 0 20px #1c2629;
  box-shadow: 0 0 20px #1c2629;
  background: url("../images/background-splash.jpg") center center;
  background-size: cover;
}
/* line 539, ../sass/app.scss */
.my-menu .my-menu-content .my-menu-item {
  background-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
}
/* line 545, ../sass/app.scss */
.my-menu .my-menu-content .my-menu-item.active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDFjMzIiIHN0b3Atb3BhY2l0eT0iMC41NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 28, 50, 0.55)));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 28, 50, 0.55));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 28, 50, 0.55));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 28, 50, 0.55));
}
/* line 549, ../sass/app.scss */
.my-menu .my-menu-content .my-menu-item img {
  width: 26px;
  height: 26px;
  object-fit: none;
  margin-left: 1rem;
}
/* line 557, ../sass/app.scss */
.my-menu .my-menu-content .my-menu-item:not(:last-child):not(.logout) .title {
  border-bottom: 1px solid #0082CC;
}
/* line 563, ../sass/app.scss */
.my-menu .my-menu-content .my-menu-item.logout .title {
  border-top: 1px solid #0082CC;
}

/* line 572, ../sass/app.scss */
.my-custom-select input[type=radio] ~ .card {
  background-color: rgba(197, 197, 197, 0.2);
  border-color: rgba(110, 127, 141, 0.2);
}
/* line 575, ../sass/app.scss */
.my-custom-select input[type=radio] ~ .card .selected {
  display: none;
}
/* line 578, ../sass/app.scss */
.my-custom-select input[type=radio] ~ .card .unselected {
  display: block;
}
/* line 581, ../sass/app.scss */
.my-custom-select input[type=radio] ~ .card .card-title {
  color: #C5C5C5;
}
/* line 584, ../sass/app.scss */
.my-custom-select input[type=radio] ~ .card .card-text {
  color: #6E7F8D;
}
/* line 589, ../sass/app.scss */
.my-custom-select input[type=radio]:checked ~ .card {
  background-color: #F1F9FC;
  border-color: #D8EEF6;
}
/* line 592, ../sass/app.scss */
.my-custom-select input[type=radio]:checked ~ .card .selected {
  display: block;
}
/* line 595, ../sass/app.scss */
.my-custom-select input[type=radio]:checked ~ .card .unselected {
  display: none;
}
/* line 598, ../sass/app.scss */
.my-custom-select input[type=radio]:checked ~ .card .card-title {
  color: #0082CC;
}
/* line 601, ../sass/app.scss */
.my-custom-select input[type=radio]:checked ~ .card .card-text {
  color: #003764;
}
